.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%
}

input {
  align-self: center;
  justify-self: center;
}

img {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #519872;
  color: white;
  justify-content: center;
  align-content: center;
}

.logo {
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-right: 5px;
}

.header-inner {
  margin-right: 300px;
}

body {
  background-color: #afd4c0;
}

.dashboard-master {
  display: flex;
  justify-content: center;
}

.dashboard-holder {
  background-color: #e5f4ec;
  width: 50%;
  height: 100vh;
}

.house-card {
  background-color: #DEDEDE;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 5 auto;
}

.delete {
  height: 15px;
  width: 15px;
}
